.hero_part{
    width:100%;
    background-image:url("../assets/homepageLogo.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
}
@media screen and (max-width:950px) {
    hr{
        width:100%;
    }
    
}

@media screen and (max-width:450px) {
    .have_question{
        font-size:0.8rem;
    }
    
}