.more_list_item:hover .more_dropdown {
    display: block;
}

.more_dropdown{
    display:none;
    left:-90%;
    margin-top:1px;
    /* background-color:#f8471e; */
    background:#121212;
    color:#fff;
}

.more_list{
    border-radius:5px;
}

.more_list:hover{
    background-color:#f8471e;
}

.more_list_item:hover .fa-chevron-down {
    transform: rotate(180deg);
    transition:all 0.15s ease-in-out;
}

@media screen and (max-width:950px) {
    .nav_list{
        display:none;
    }
    
}
@media screen and (max-width:450px) {
    .logo_div{
        padding:3px 10px;
    }
    .logo_div span{
        font-size:1.5rem
    }
    .logo_div p span{
        font-size:0.55rem;
    }
    
}